DATABASE_URL=postgresql://neondb_owner:npg_ok0CmPjr6KeO@ep-autumn-glitter-abng8udo-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=8085
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=Youthfellowship@2026

TERMII_API_KEY=tlv_CFu-RCHSA8aT6G1hJFXaINA1WZcemI8R2ubTpoO-VY0
TERMII_SENDER=CALVARY LIFE