DATABASE_URL=postgresql://neondb_owner:npg_SxqJD9Oviw3I@ep-quiet-unit-abxwm69s-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require
PORT=8085
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=YouthConvention@2026