{{template "header" .}}
{{template "navbar" .}}

<div class="container mt-4">

    <h2 class="mb-4">
        🔔 Notifications
    </h2>

    {{if .Notifications}}

        {{range .Notifications}}

        <div class="card mb-3 shadow-sm">

            <div class="card-body">

                <strong>
                    {{.Sender.FullName}}
                </strong>

                {{.Message}}

                <br>

                <small class="text-muted">
                    {{.CreatedAt.Format "02 Jan 2006 03:04 PM"}}
                </small>

            </div>

        </div>

        {{end}}

    {{else}}

        <div class="alert alert-light">

            No notifications yet.

        </div>

    {{end}}

</div>

{{template "footer" .}}